@import "../../utils/colors";
.reg_form {
  display: flex;
  flex-direction: column;

  width: 500px;

  border-radius: 4px;
  background: $color-white;
  box-shadow: 0 2px 25px $form-shadow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.reg_form h1 {
  margin: 0;
  padding: 35px 35px 0 35px;

  color: $color-black;

  font-weight: 300;
}
.reg_form .content {
  padding: 35px;

  text-align: center;
}
.reg_form .input_field {
  padding: 12px 5px;
}
.reg_form .input_field input {
  display: block;

  width: 100%;
  padding: 10px 1px;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
.reg_form .input_field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.reg_form .input_field input::-moz-placeholder {
  text-transform: uppercase;
}
.reg_form .input_field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.reg_form .input_field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.reg_form .input_field input::placeholder {
  text-transform: uppercase;
}
.reg_form .input_field input:focus {
  border-color: #222222;
}
.reg_form a.link {
  display: inline-block;

  margin-top: 20px;

  text-decoration: none;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #747474;
}
.reg_form .action {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  flex-direction: row;
}
.reg_form .action button {
  width: 100%;
  padding: 18px;

  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #777777;
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  outline: 0;
  background: #e8e9ec;

  font-family: "Rubik", sans-serif;
}
.reg_form .action button:hover {
  background: $form-default-btn;
}
.reg_form .action button:nth-child(2) {
  color: $color-white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  background: #2d3b55;
}
.reg_form .action button:nth-child(2):hover {
  background: $form-active-btn;
}