$form-active-btn:rgba(0, 0, 0, 0.2);
$form-default-btn:rgba(0, 0, 0, 0.2);
$form-shadow:rgba(0, 0, 0, 0.2);

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-main-color: rgb(255, 255, 255);
$color-azure: rgb(240, 255, 255);